/* Styl ogólny */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 190vh;
    padding: -2px;
}

.sidebar {
    width: 250px;
    background-color: #5a8fc5;
    padding: 20px;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #122f42;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
    font-size: 24px;
}

.example-images {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.example-image {
    max-width: 150px;
    flex: 1;
}

.example-image img {
    width: 200%;
    height: auto;
    border-radius: 8px;
}

.example-image p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* .ex1 {
    width: 100%;
    border-radius: 8px;
} */

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #2980b9;
}

.container {
    text-align: center;
    background: #fff;
    padding: 2rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

p {
    color: #666;
    font-size: 1rem;
}

.upload-section {
    margin-top: 1rem;
}

.file-input {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.btn {
    background-color: #5a67d8;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #434190;
}

.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.image-preview {
    margin-bottom: 1rem;
}

.image-preview img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.emotion-result h2 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.reset-btn {
    margin-top: 1rem;
    background-color: #ff6b6b;
}

.reset-btn:hover {
    background-color: #d64545;
}