body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    display: flex;
    height: 100%;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #407baf;
    padding-top: 40px;
    width: 15%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    display: block;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #305d88;
    transition: background-color 0.3s ease;
}

.cont {
    background-color: #407baf;
    padding-top: 40px;
    width: 15%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.main-content {
    flex: 1;
    padding: 40px;
    min-height: 100vh;
    height: auto;
    width: 85%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.main-content p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
}

.team-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.main-content h2 {
    font-size: 2em;
    color: #407baf;
    margin: 30px 0 15px;
    text-align: center;
}


.team-member {
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.team-member p {
    font-size: 1em;
    color: #666;
}

.example-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
}

.example-image img {
    width: 85%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.example-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Increased gap between elements */
}

input[type="file"] {
    padding: 15px;
    font-size: 1.2em;
    border: 2px solid #407baf;
    border-radius: 10px;
    color: #333;
    cursor: pointer;
}

input[type="submit"] {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #407baf;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #305d88;
}

.btn {
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    text-decoration: none;
    background-color: #407baf;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #305d88;
}

.container2 {
    height: 50%;
    background-color: #ffffff;
}

.main-container1 {
    flex: 1;
    padding: 40px;
    padding-top: 200px;
    min-height: 100vh;
    height: auto;
    width: 85%;
    float: right;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.main-container1 h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.main-container1 p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
}

#analyze-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #407baf;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#analyze-btn:hover {
    background-color: #305d88;
}

#face-detection-status {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

#video {
    border: 2px solid #407baf;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 40vw;
    box-sizing: content-box;
    height: auto;

}

.result-section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

.image-preview img {
    width: 40vw;
    height: auto;
    border: 2px solid #407baf;
    border-radius: 10px;
}

.emotion-result {
    text-align: left;
    max-width: 400px;
    display: grid;
}

.emotion-result h2 {
    font-size: 1.5em;
    color: #407baf;
    margin-bottom: 10px;
    margin-top: 0px;
    float: left;
    text-align: left;
}

.emotion-result p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
    float: left;
    text-align: left;
}

.reset-btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #407baf;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 150px;
}

.reset-btn:hover {
    background-color: #305d88;
}

.app-logo {
    text-align: center;
    align-items: center;
}

.logo_emo {
    width: 10vw;
    height: auto;
}


@media (max-width: 1024px) {
    body {
        font-size: 90%;
    }

    .sidebar {
        width: 15vw;
    }

    .sidebar ul li a {
        font-size: 2vw;
        padding: 14px;
    }

    .main-content {
        padding-top: 10vw;
        justify-content: flex-start;
    }

    .main-content h1 {
        font-size: 3vw;
    }

    .main-content h2 {
        font-size: 2.3vw;
    }

    .main-content p {
        font-size: 2vw;
    }

    .team-member h3 {
        font-size: 2.1vw;
    }

    .team-member p {
        font-size: 2vw;
    }

    form {
        gap: 15px;
    }

    input[type="file"] {
        font-size: 1.5vw;
        padding: 10px 0px;
        width: 25vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="submit"],
    .reset-btn,
    .btn {
        font-size: 1.5vw;
        padding: 10px 0px;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #analyze-btn {
        font-size: 1.5vw;
        padding: 10px 0px;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-container1 p {
        font-size: 2vw;
    }

    .main-container1 h1 {
        font-size: 3vw;
    }

    .main-container1 {
        padding-top: 100px;
    }

    .result-section {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 90%;
    }

    .sidebar {
        width: 15vw;
    }

    .sidebar ul li a {
        font-size: 2vw;
        padding: 14px;
    }

    .main-content {
        padding-top: 15vw;
        justify-content: flex-start;
    }

    .main-content h1 {
        font-size: 3vw;
    }

    .main-content h2 {
        font-size: 2.3vw;
    }

    .main-content p {
        font-size: 2vw;
    }

    .team-member h3 {
        font-size: 2.1vw;
    }

    .team-member p {
        font-size: 2vw;
    }

    .example-images {
        display: grid;
    }

    .example-image img {
        width: 50%;
    }

    form {
        gap: 15px;
    }

    input[type="file"] {
        font-size: 1.5vw;
        padding: 7px 0px;
        width: 28vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="submit"],
    .reset-btn,
    .btn {
        font-size: 1.5vw;
        padding: 7px 0px;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #analyze-btn {
        font-size: 1.5vw;
        padding: 7px 0px;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-container1 p {
        font-size: 2vw;
    }

    .main-container1 h1 {
        font-size: 3vw;
    }
}