<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Emotion Detection App</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/analyze-image">Analyze Image</a></li>
                <li><a href="/camera">Camera</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <nav class="cont">
        </nav>
        <main class="main-content">
            <h1>About Us</h1>
            <p>Welcome to the Emotion Detection App – designed to support individuals with autism in learning and recognizing basic facial expressions and emotions. Our goal is to harness the power of artificial intelligence to provide an engaging and educational tool that helps users better understand social cues and emotional expressions.</p>

            <p>This project integrates advanced AI technologies with a simple, user-friendly interface, offering real-time feedback and insights. Whether for learning, personal development, or support in social interactions, this app aims to make emotional recognition more accessible and intuitive.</p>

            <p><b>Got questions? We're here to help!</b></p>
            <p>If you have any questions, feedback, or suggestions, feel free to reach out to us via email at <i>01168920@pw.edu.pl</i>. We’ll be happy to assist you and answer your inquiries as soon as possible.</p>
        </main>
    </div>
</body>
</html>
