<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyze Image - Emotion Detection</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <div class="app-logo">
                <img src="/static/logo_emojis.png" alt="logo" class="logo_emo">
            </div>
            <ul>
                <li><a href="/"><b>Home</b></a></li>
                <li><a href="/analyze-image"><b>Analyze Image</b></a></li>
                <li><a href="/camera"><b>Camera</b></a></li>
                <li><a href="/about"><b>About</b></a></li>
            </ul>
        </nav>
        <nav class="cont">
        </nav>
        <main class="main-container1">
            <h1>Analyze Image</h1>
            <p>Upload an image to analyze emotions.</p>

            <form action="/predict_emotion/" enctype="multipart/form-data" method="post">
                <input name="file" type="file" accept="image/*" required>
                <input type="submit" value="Analyze Image">
            </form>
        </main>
    </div>
</body>
</html>
