<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="/"><b>Home</b></a></li>
                <li><a href="/analyze-image"><b>Analyze Image</b></a></li>
                <li><a href="/camera"><b>Camera</b></a></li>
                <li><a href="/about"><b>About</b></a></li>
            </ul>
        </nav>

        <main class="main-content">
            <h1>Emotion Detection</h1>
            <p>Unlock the power of emotions through AI. Our emotion detection app analyzes facial expressions in images to identify emotions like happiness, sadness, anger, and more. Upload an image or use your camera to get instant feedback!</p>
            
            <h2>How it works:</h2>
            <p>1. <b>Upload an image</b> – Simply upload a photo, and our system will detect emotions such as happiness, sadness, anger, and more.<br>
            2. <b>Use your camera</b> – Want a live feed? Open your camera and watch emotions being detected in real-time as you interact.<br>
            3. <b>Instant results</b> – Get immediate feedback on the emotions displayed in the image or video, and learn more about how the algorithm interprets facial expressions.</p>
            
            <h2>Examples:</h2>
            <div class="example-images">
                <div class="example-image">
                    <img src="/static/ex1.png" alt="Example 1" class="ex1">
                </div>
                <div class="example-image">
                    <img src="/static/ex2.png" alt="Example 2">
                </div>
                <div class="example-image">
                    <img src="/static/ex3.png" alt="Example 3">
                </div>
            </div>
        </main>
    </div>
</body>
</html>
